{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}



<div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'portfolio/v9di4sebfeoia34qfhgo.png' %}" class="img-fluid">
    </div>
  </div>

<div class="row justify-content-center mb-3">
   <div class="col-md-9 text-center">
     <h1 id="hometext" class="font-weight-bold">Romina French is a Computer Science student</h1>
   </div>
 </div>


 <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div>
    <h2 class="mt-5 text-center">Portfolio</h2>
    <hr>
    <div class="row justify-content-center">
      {% for project in projects %}
        {% if forloop.counter0|divisibleby:2 %}
          <div class="row justify-content-center">
        {% endif %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 border">
          {% if project.url %}
            <a href="{{ project.url }}" target="_blank">
              <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            </a>
          {% else %}
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
          {% endif %}
          <div class="card-body">
          <h3 class="card-title">{{ project.title }}</h3>
          <p class="card-text">{{ project.description }}</p>
        </div>
      </div>
    </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    





{% endblock %}
