{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Romina has written {{ page_obj.paginator.count }} blog post{{ page_obj.paginator.count|pluralize }}</h3>

{% for blog in page_obj %}
<div class="row justify-content-center my-3 align-items-center">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2 id="blogtitle">{{ blog.title }}</h2>
    </a>
    <h5 class="text-muted" id="blogdate">{{ blog.date|date:"D M d Y" |upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
    {% if blog.image %}
    <div class="image-container">
    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid">
  </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="text-center">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}


</div>




{% endblock %}
